<h1>Welcome to Spic N' Span Cleaners!</h1>
<p>
  You've found the home page for the best Dry Cleaners in Orange County!
</p>
<p>Dry Cleaning for a Dry Summer! All 1st timers get 20% off!
  <%= link_to "DEAAALS!", coupons_path %>
</p>